.link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 230px;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
  /* border: 1px solid #000; */
}

.link:hover {
  color: white;
  background-color: orangered;
}
