.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 40px;
}

.form {
  position: relative;
}

.input {
  padding: 8px 32px 8px 8px;
  border-radius: 4px;
  font: inherit;
  width: 450px;
  height: 50px;
  /* position: fixed;
    right: 45%;
    z-index: 2; */
  font-size: 20px;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.input::placeholder {
  font-size: 20px;
}

.btnForm {
  position: absolute;
  right: 5px;
  bottom: 6px;
  cursor: pointer;
  display: block;

  padding-top: 10px;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  background-color: transparent;
}
