.wrap {
  display: flex;
  gap: 25px;
  padding-bottom: 30px;
}

.title {
  margin-bottom: 10px;
  font-size: 28px;
}

.text {
  margin-bottom: 15px;
  text-align: justify;
}

.titleInfo {
  text-align: center;
  margin-bottom: 10px;
  font-size: 28px;
}

.info {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.info li {
  position: relative;
}

/* .active {
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
} */

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: white;
  background-color: orangered;
}

.active {
  color: white;
  background-color: orangered;
}

/* .icon {
  position: absolute;
  top: 4px;
  margin-left: 5px;
} */
