#root {
  /* max-width: 1380px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 120px;
}

.nav {
  display: flex;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: white;
  background-color: orangered;
}
