.list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.item {
  width: 200px;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  transform: scale(1.02);
}

.name {
  font-size: 20px;
}
